body{
    background-color: rgb(195, 206, 202);
 
}

dd{
    background-color: chartreuse;
    width: 40%;
}
/* Esta es la lista de nombres */
dl li{
    background-color: bisque;
    width: 20%;
}

@media(max-width: 650px) {

    dl li {
        background-color: aqua;
    }

    dd {
        background-color: crimson;
    }

}

div img{
    transition: 900ms;
}


div img:hover{

    transform: scale(2);
}