.valores{
    background-color: chartreuse;
    width: 40%;
}

/* Esta es la lista de nombres */
.lista {
    background-color: bisque;
    width: 20%;
}

@media (max-width: 650px) {
    .lista {
        background-color: aqua;
    }

    p {
        background-color: crimson;
    }
}

.footer-img{
    margin: 10%;
}

.footer-img {
    transition: 900ms;
}

.footer-img:hover {
    transform: scale(2);
}